@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}


// Vinyl Card
.albumCover{
  height: 10vh;
  // width: 100px;

}

.mycard{
  background-color: #A2E8DD;
  border-radius: 10px;
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mybackground{
  background-color: #627c85;
}