@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

.headercolor{
  background-color: #32373B;

}

main {
  flex-grow: 1;
}


// Vinyl Card
.albumCover{
  max-height: 20vh;
  border-radius: 10px 0px 0px 10px;
 
  // width: 100px;

}



.headerfont{
  font-family: 'Roboto', sans-serif;
}

.loginbutton{
  background-color: #e9ffeaac;
}

.mycard{
  background-color: #e9ffeaac;
  border-radius: 10px;
  height: 20vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mybackground{
  background-color: #4a5859;
}

*{
  font-family: 'Didact Gothic', sans-serif;
}


@media screen and (max-width:425px){

  .smallalbumCover{
    max-height: 12vh;
    border-radius: 10px 0px 0px 10px;
  }

  .smallmycard{
    background-color: #e9ffeaac;
    border-radius: 10px;
    height: 12vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  
}